link(rel="stylesheet" href="style.css")
meta(name="google" content="notranslate")
meta(name="description" content="Mill Soper | Web Development")
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(id="favicon" rel="icon" href="https://cdn.glitch.com/6f9ed872-bda5-4310-8829-671801228f44%2Ftorch.png?v=1571355252757" type="image/png")
script(src="client.js" defer=true)
title mill soper
