doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    div(class="home-wrapper")
      include includes/images/lines.pug
      div(class="title-block")
        p under construction! 
        a(href="/" class="button") go back 
    footer(class="footer")
      include includes/footer.pug
    script(src="./lines.js" defer=true)
