<?xml version="1.0" encoding="UTF-8"?>
<svg width="180px" height="180px" viewBox="0 0 224 223" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>mousetrap</title>
    <desc>an animated mousetrap</desc>
      <g id="mousetrap-image" stroke="#4e4e4e" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M147.214389,70.1240685 L31.0585001,114.854961 L75.9629175,150.061343 L192.125307,97.0855385 L147.214389,70.1240685 Z" id="traptop"></path>
          <path d="M76.5,150.322328 L76.5,158.220142 L191.416432,105.440617 L191.416432,98.2332228 L76.5,150.322328 Z" id="trapside"></path>
          <path d="M30.8542071,116.018038 L30.8542071,122.080961 L76.7255214,157.875213 L75.8810361,150.311326 L30.8542071,116.018038 Z" id="trapside"></path>
          <path d="M96.2975198,97.519324 C95.3675033,97.2096935 94.5690684,96.6038387 94.0096982,95.8112262 L93.6999969,95.5800018 L93.7899577,95.4690963 C93.3864326,94.7761007 93.1547684,93.9670915 93.1547684,93.1029759 C93.1547684,90.5374146 95.1968821,88.4576162 97.7159569,88.4576162 C98.2567321,88.4576162 98.7755269,88.5534619 99.2568573,88.7293835 L99.3085065,88.6657093 L99.6103339,88.8759739 C100.087368,89.0980846 100.520267,89.401492 100.891949,89.7687961 L133.154768,112.244318 L126.779914,120.277616 L96.2975198,97.519324 Z" id="spring" stroke="#4E4E4E" fill="#FFFFFF"></path>
          <circle class="springside" cx="99.5" cy="94.8929631" r="4.5" fill="white"></circle>
          <circle class="springside" cx="102.5" cy="96.8929631" r="4.5" fill="white"></circle>
          <circle class="springside" cx="105.5" cy="98.8929631" r="4.5" fill="white"></circle>
          <circle class="springside" cx="108.5" cy="100.892963" r="4.5" fill="white"></circle>
          <circle class="springside" cx="111.5" cy="103.5" r="4.5" fill="white"></circle>
          <circle class="springside" cx="114.458216" cy="106" r="4.5" fill="white"></circle>
          <circle class="springside" cx="117.458216" cy="108" r="4.5" fill="white"></circle>
          <circle class="springside" cx="120.458216" cy="110" r="4.5" fill="white"></circle>
          <circle class="springside" cx="123.458216" cy="112" r="4.5" fill="white"></circle>
          <circle class="springside" cx="126.458216" cy="114" r="4.5" fill="white"></circle>
          <circle class="springside" cx="129.458216" cy="116" r="4.5" fill="white"></circle>
          <polyline id="trigger" stroke-width="2" points="93.4200131 106.898047 164.512502 68.9380262 164.512502 82.1732607"></polyline>
          <path d="M129.222488,116.415865 C162.973934,98.3286183 179.849657,88.0509846 179.849657,85.5829639 C179.849657,81.8809328 146.41776,65.0063934 141.45647,65.5354241 C136.49518,66.0644547 93.1532829,87.3925335 89.8126632,89.5086791 C87.5855833,90.9194428 88.1528809,91.9147779 91.514556,92.4946844" id="snap-open" stroke="#4E4E4E" stroke-width="3"></path>
          <path d="M129.222488,116.415865 C95.4561019,133.36238 76.9752452,141.500432 73.7799183,140.830023 C68.9869279,139.824409 41.209612,110.970969 36.2483222,111.5 C31.2870325,112.029031 93.1532829,87.3925335 89.8126632,89.5086791 C87.5855833,90.9194428 88.1528809,91.9147779 91.514556,92.4946844" id="snap-closed" stroke="none" stroke-width="3"></path>
          <path d="M92.9432009,116.995028 C87.8978979,112.309112 82.8525949,107.623196 77.8072919,102.937279 C72.5455884,105.940788 70.7160185,104.241542 72.3185821,97.8395414 L66.8470341,92.7577425 L64.7361625,95.7816208 L59.2873384,94.0943844 L53.1921055,104.876385 L80.9815955,128.871419 L92.9432009,116.995028 Z" id="cheeseside" stroke="#4E4E4E" fill="white"></path>
          <path d="M74.5,105 C76.4329966,105 78.2463295,105.466481 78.2463295,103.533485 C78.2463295,101.600488 77.3149127,98.7364925 75.3819161,98.7364925 C73.4489194,98.7364925 71,99.5670034 71,101.5 C71,103.432997 72.5670034,105 74.5,105 Z" id="cheesehole" stroke="#4E4E4E" fill="#FFFFFF"></path>
          <ellipse class="cheesehole" cx="75" cy="110.5" rx="4" ry="4.5"></ellipse>
          <circle class="cheesehole" cx="81" cy="120" r="2"></circle>
          <circle class="cheesehole" cx="64.5" cy="109.5" r="2.5"></circle>
          <polyline class="cheesetop" points="93.0807606 116.49161 93.0807606 108.309852 67.7953437 93.7699159" fill="white"></polyline>
          <g id="mouse" transform="translate(116.000000, 158.000000)">
              <ellipse id="mouse-eye" cx="78" cy="12.5" rx="1" ry="1"></ellipse>
              <path d="M76.6969369,9.55813926 C77.321344,0.413595982 73.5585324,-1.08071844 72.3720589,1.27108361 C71.5555776,2.8894951 73.6674063,7.77624639 72.3720589,7.40298665 C64.8373737,5.23183585 61.4652023,1.27108361 53.8601885,3.13644636 C48.7449115,4.39112483 45.345371,8.72840116 43.661567,16.1482754 L0.291838209,19.6344088 L43.661567,16.1482754 L91.8736803,16.1482754 C87.9888878,14.3427182 84.9995302,12.9947187 82.9056074,12.1042769 C80.8979604,11.2505239 78.8284036,10.4018113 76.6969369,9.55813926 Z"></path>
          </g>
          <ellipse id="surprise" stroke-width="22" stroke-dasharray="2,3" cx="111.62717" cy="111.5" rx="89.3862658" ry="82.8903217"></ellipse>
          <polygon id="overlay" stroke="none" points="147.262477 69.5697569 193.197572 97.1460733 75.8937174 150.642442 30.0567682 114.704928"></polygon>
      </g>
</svg>